<html>

<body>

    <div th:fragment="myFoot" id="Foot">
        <div class="text-muted py-3">
            <div class="container">
                <p class="float-end mb-0">
                    <a href="#">Back to
                        top</a>
                </p>
                <p class="mb-1">
                    Libreria is a proyect made by Hermes Chac&oacute;n developed with Java, MySql, Spring, Css,
                    html5
                    and
                    BootStrap.
                </p>
                <p class="mb-0">
                    New to Bootstrap? <a href="/">Visit the homepage</a> or read our
                    <a href="../getting-started/introduction/">getting started guide</a>.
                </p>
            </div>
        </div>
    </div>

</body>

</html>