<!DOCTYPE html>

<head th:replace="/fragments/head :: head">
</head>

<body>
    <div th:replace="/fragments/navbar :: userNav"></div>

    <main>
        <section class="py-0  text-center container-xxl">
            <div class="row ">
                <section id="feat"><br>

                    <div class="row justify-content-center">
                        <div class="flex-container col-md-4 text-light">
                            <div>
                                <h2 class="fw-bold">Agregar Editorial</h2>
                                <hr class="my-2 text-white rounded" />
                                <br>
                                <form th:action="@{/editorial/agregar}" method="POST">

                                    <card th:if="${exito}!=null" class="text-white  mb-2">
                                        <div class="card-body bg-success">
                                            <h5 class="card-title">Exito</h5>
                                            <p class="card-text mb-2" th:text="${exito}"></p>
                                        </div>
                                    </card>
                                    <card th:if="${error}!=null" class="text-white mb-2">
                                        <div class="card-body bg-danger">
                                            <h5 class="card-title">Error</h5>
                                            <p class="card-text mb-2" th:text="${error}"></p>
                                        </div>
                                    </card>

                                    <label for="nombreEdit">Nombre</label>
                                    <input type="text" class="form-control" name="nombre"
                                        placeholder="nombre de la editorial">
                                    <br>
                                    <button type="submit" class="btn btn-primary ">Guardar</button>
                                    <button type="button" class="btn btn-danger "><a
                                            th:href="@{/libro/lista}">volver</a></button>

                                </form>


                            </div>
                        </div>
                    </div>
            </div>
        </section>
        </div>
        </section>
    </main>

    <footer>
        <div th:replace="/fragments/footer :: myFoot"></div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>


</html>